// app global css
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Albert Sans', sans-serif;
}

.custom-button {
  background-color: white;
  color: #215273;
  font-weight: bold;
  width: clamp(130px, 10vw, 172px);
  transition: all 0.3s ease;
  &:hover {
    color: white !important;
    &::before {
      background: linear-gradient(to right, #329d9c, #56c596) !important;
    }
  }
}
